<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pet.mapper.TradeMapper" >
  <resultMap id="BaseResultMap" type="com.pet.pojo.Trade" >
    <id column="trade_id" property="tradeId" jdbcType="INTEGER" />
    <result column="trade_price" property="tradePrice" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="INTEGER" />
    <result column="trade_des" property="tradeDes" jdbcType="VARCHAR" />
    <result column="trade_titile" property="tradeTitile" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="INTEGER" />
    <result column="trade_image" property="tradeImage" jdbcType="VARCHAR" />
    <result column="trae_address" property="traeAddress" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    trade_id, trade_price, trade_type, trade_des, trade_titile, trade_status, trade_image, 
    trae_address, user_id, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pet.pojo.TradeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trade
    where trade_id = #{tradeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trade
    where trade_id = #{tradeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pet.pojo.TradeExample" >
    delete from trade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pet.pojo.Trade" >
    insert into trade (trade_id, trade_price, trade_type, 
      trade_des, trade_titile, trade_status, 
      trade_image, trae_address, user_id, 
      create_time, update_time)
    values (#{tradeId,jdbcType=INTEGER}, #{tradePrice,jdbcType=VARCHAR}, #{tradeType,jdbcType=INTEGER}, 
      #{tradeDes,jdbcType=VARCHAR}, #{tradeTitile,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=INTEGER}, 
      #{tradeImage,jdbcType=VARCHAR}, #{traeAddress,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pet.pojo.Trade" >
    insert into trade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="tradePrice != null" >
        trade_price,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="tradeDes != null" >
        trade_des,
      </if>
      <if test="tradeTitile != null" >
        trade_titile,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="tradeImage != null" >
        trade_image,
      </if>
      <if test="traeAddress != null" >
        trae_address,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        #{tradeId,jdbcType=INTEGER},
      </if>
      <if test="tradePrice != null" >
        #{tradePrice,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="tradeDes != null" >
        #{tradeDes,jdbcType=VARCHAR},
      </if>
      <if test="tradeTitile != null" >
        #{tradeTitile,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="tradeImage != null" >
        #{tradeImage,jdbcType=VARCHAR},
      </if>
      <if test="traeAddress != null" >
        #{traeAddress,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pet.pojo.TradeExample" resultType="java.lang.Integer" >
    select count(*) from trade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update trade
    <set >
      <if test="record.tradeId != null" >
        trade_id = #{record.tradeId,jdbcType=INTEGER},
      </if>
      <if test="record.tradePrice != null" >
        trade_price = #{record.tradePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeType != null" >
        trade_type = #{record.tradeType,jdbcType=INTEGER},
      </if>
      <if test="record.tradeDes != null" >
        trade_des = #{record.tradeDes,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeTitile != null" >
        trade_titile = #{record.tradeTitile,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeStatus != null" >
        trade_status = #{record.tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.tradeImage != null" >
        trade_image = #{record.tradeImage,jdbcType=VARCHAR},
      </if>
      <if test="record.traeAddress != null" >
        trae_address = #{record.traeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update trade
    set trade_id = #{record.tradeId,jdbcType=INTEGER},
      trade_price = #{record.tradePrice,jdbcType=VARCHAR},
      trade_type = #{record.tradeType,jdbcType=INTEGER},
      trade_des = #{record.tradeDes,jdbcType=VARCHAR},
      trade_titile = #{record.tradeTitile,jdbcType=VARCHAR},
      trade_status = #{record.tradeStatus,jdbcType=INTEGER},
      trade_image = #{record.tradeImage,jdbcType=VARCHAR},
      trae_address = #{record.traeAddress,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pet.pojo.Trade" >
    update trade
    <set >
      <if test="tradePrice != null" >
        trade_price = #{tradePrice,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="tradeDes != null" >
        trade_des = #{tradeDes,jdbcType=VARCHAR},
      </if>
      <if test="tradeTitile != null" >
        trade_titile = #{tradeTitile,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="tradeImage != null" >
        trade_image = #{tradeImage,jdbcType=VARCHAR},
      </if>
      <if test="traeAddress != null" >
        trae_address = #{traeAddress,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where trade_id = #{tradeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pet.pojo.Trade" >
    update trade
    set trade_price = #{tradePrice,jdbcType=VARCHAR},
      trade_type = #{tradeType,jdbcType=INTEGER},
      trade_des = #{tradeDes,jdbcType=VARCHAR},
      trade_titile = #{tradeTitile,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=INTEGER},
      trade_image = #{tradeImage,jdbcType=VARCHAR},
      trae_address = #{traeAddress,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where trade_id = #{tradeId,jdbcType=INTEGER}
  </update>
</mapper>