<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.pet.pojo.User" >
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_role" property="userRole" jdbcType="INTEGER" />
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="user_sex" property="userSex" jdbcType="INTEGER" />
        <result column="question_id" property="questionId" jdbcType="INTEGER" />
        <result column="answer" property="answer" jdbcType="VARCHAR" />
    </resultMap>
   <select id="checkUserName"  resultType="java.lang.Integer" parameterType="java.lang.String">
       select sum(user_name) from user WHERE user_name = #{user_name}
   </select>
    <select id="checkPhone"  resultType="java.lang.Integer" parameterType="java.lang.String">
        select sum(user_phone) from user WHERE user_phone = #{phone}
    </select>
    <insert id="insert" parameterType="com.pet.pojo.User" >
    insert into user (user_id, user_name, user_role,
      user_phone, user_pwd, create_time,
      update_time, user_sex, question_id,
      answer)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER},
      #{userPhone,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{userSex,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER},
      #{answer,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pet.pojo.User" >
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="userRole != null" >
                user_role,
            </if>
            <if test="userPhone != null" >
                user_phone,
            </if>
            <if test="userPwd != null" >
                user_pwd,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="userSex != null" >
                user_sex,
            </if>
            <if test="questionId != null" >
                question_id,
            </if>
            <if test="answer != null" >
                answer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null" >
                #{userRole,jdbcType=INTEGER},
            </if>
            <if test="userPhone != null" >
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null" >
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userSex != null" >
                #{userSex,jdbcType=INTEGER},
            </if>
            <if test="questionId != null" >
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="answer != null" >
                #{answer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>